/* 面包屑导航1 */
.bar{
  padding-top:130px;
  padding-bottom: 30px;
}
.bar span{
  display:inline-block;
  margin-right: 10px;
  padding:2px 6px;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:14px;
}
.bar>span~span{
margin-left:10px;
}
.icon-dayuhao{
  color:black;
  font-size:15px;
}
/* 面包屑导航2 */
/* 第一部分1 */
.p-main{
  padding-bottom: 20px;
}
.p-main-left,.p-main-right{
  display:inline-block;
}
.p-main-left{
  width:716px;
}
.p-main-left>div:nth-child(2)>img{
  width:164px;
  display:inline-block;
  margin-top: 15px;
}
.p-main-left>div>img+img{
  margin-left: 15px;
}
/* 第一部分右边1 */
.p-main-right h1{
font-size:30px;
color:#f775a7;
}
/* 第一部分右边2 */
/* 第一部分2 */